<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Set favicon -->
    <!-- <link rel="icon" href="https://getbootstrap.com/favicon.ico"> -->

    <title>Mutual Myth</title>

    <!-- reset CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

    <!-- CSS style -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

	</head>
	<body>
		{{{ body }}}

        <!-- Bootstrap CDN & JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!--D3 JS CDN Library-->
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <!-- Popper JS -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->

        <!-- Latest compiled JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

        <!-- External Javascript reference -->
        <script src="./assets/javascript/mutualmyth.js "></script>

        <!--External JS ref for the d3 js line graph-->
        <script src="./assets/javascript/linegraph.js "></script>

	</body>
</html>
