<nav class="navbar navbar-expand-sm bg-light">
    <span class="glyphicon glyphicon-piggy-bank"></span>
    <h1 id="title">Mutual Myth</h1>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/logout"><button type="button" class="btn btn-outline-success">Log Out</button></a>
        </li>
    </ul>
</nav>


<div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container">
        <form>
            <div class="form-row">
                <div class="col-7">
                    <p>Fund Name:</p>
                    <input type="text" class="form-control" id="fund_name" placeholder="name">
                </div>
                <div class="col">
                    <p>Fund Symbol:</p>
                    <input type="text" class="form-control" id="fund_symbol" placeholder="symbol">
                </div>
                <div class="col">
                    <p>Expense Ratio:</p>
                    <input type="text" class="form-control" id="expense_ratio" placeholder="0.43">
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="funddropdown">
                Saved Funds
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <button type="submit" class="btn btn-success" id="dropdownsubmit">Submit</button>
    </div>
</div>


<div id="sample">
    <br>
    <h3 id="sample2">Stock Comparison Value</h3>
    <div class="graph">
        <svg width="600" height="300">

        </svg>
    </div>
</div>