<div id="userbuttons">
<a href="/signin"><button type="button" class="btn btn-secondary">Log In</button></a>
<a href="/signup"><button type="button" class="btn btn-secondary">Sign Up</button></a>
</div>
<h1 id="title">Mutual Myth</h1>

<h2 id="header">Are you saving enough!?</h2>
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean rutrum, ex sed hendrerit vestibulum, metus turpis placerat urna, sit amet mattis arcu orci sed arcu.
    Sed ac sem metus. Morbi eget bibendum eros, et laoreet metus. Integer et enim vitae augue lacinia vulputate id quis elit.
    Quisque pretium blandit magna ut dignissim.
</div>

<form>
    <div class="form-row">
        <div class="col-7">
            <p>Fund Name:</p>
            <input type="text" class="form-control" id="fund_name" placeholder="name">
        </div>
        <div class="col">
            <p>Fund Symbol:</p>
            <input type="text" class="form-control" id="fund_symbol" placeholder="symbol">
        </div>
        <div class="col">
            <p>Expense Ratio:</p>
            <input type="text" class="form-control" id="expense_ratio" placeholder="0.43">
        </div>
    </div>
    </br>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

<p id="sample">Stock Comparison Graph</p>
<div class="graph">
    <svg width="600" height="300">

    </svg>
</div>
