<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Username: </span>
    </div>
    <textarea class="form-control" aria-label="With textarea" id="lusername"></textarea>
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Password: </span>
    </div>
    <textarea class="form-control" aria-label="With textarea" id="lpassword"></textarea>
</div>