#title {
    color: black;
    font-weight:  bolder;
}

#userbuttons {
    float: right;
}
form {
    font-weight: bolder;
    padding: 30px;
}

#header {
    text-align: center;
    padding: 20px;
}

.graph{
    padding: 30px;
}

#sample{
    padding-left: 10% ;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

/*CSS for the line chart*/
.line-chart {
    border: 1px solid lightgray;
}